.headerElement {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 80px;
    margin: 0 auto;
}

categoryClothing {
    align-items: center;
    justify-content: center;
}

.categoryClothing button {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    margin-left: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.categoryClothing .firstElement {
    margin-left: 117px;
}

.headerElement button {
    border: none;
    background: none;
}

.iconReboot {
    position: relative;
    left: 385px;
    width: 41px;
    height: 41px;
    margin: 30px 0px;
    cursor: pointer;
}

.iconDollar {
    position: relative;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin: 28px 0px;
    left: 950px;
    cursor: pointer;
}

.iconBasket img {
    position: relative;
    left: 980px;
    width: 20px;
    height: 18px;
    margin: 34px 0px;
    cursor: pointer;
}
