.wrapProducts {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-between;
    margin-left: 101px;
}

.value {
    border: 1px solid chocolate;
    width: 386px;
    height: 444px;
    margin-right: 40px;
}

.value img  {
    border: 1px solid blueviolet;
    width: 354px;
    height: 330px;
}
value p {
    color: blueviolet;
}


