.productCategory {
 width: 1140px;
}
.productCategory h1 {
    height: 300px;
    color: rgba(29, 31, 34, 1);
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;
    margin-top: 80px;
    margin-left: 101px;
}


