.productCategory {
    width: 100%;
    height: 235px;
}
.productCategory h1 {
    color: rgba(29, 31, 34, 1);
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;
    margin-top: 80px;
    margin-left: 101px;

}